<div class="panel panel-default">
 <div class="panel-heading">
    <div class="panel-title">
      <h1>About Us</h1>
    </div>
 </div>
  <div class="panel-body">
 		<h3>Traider's Story</h3>
 		<p>Traider was born as “Rent My Dorm” at Startup Weekend Hong Kong. The original idea was to act as a one-stop shop for students to rent everything they needed for a upcoming semester. This idea was scrapped after we calculated the holding costs for the items in Hong Kong was too high.</p>

		<p>Our next idea was Mungo that we wanted to encourage local buying and selling. The idea was centered on using GPS to locate people selling what you wanted on your campus. We then took this idea and expanded it into Traider. Traider combines convenient mobile trading with opportunities to help your local community. We want to make to simplify the process of selling goods while finding charities and hospitals that could use your items should they be unsellable. We hope you enjoy the app and feel free to contact me directly at jason@traider.hk.</p> 

 	</div>
 	<div class="panel-body">
		<h3> Our Partners </h3>
  </div>
  <div class="panel-footer">
    <h3>Publicity</h3>

  </div>
</div>